*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

@media screen and (min-width: 769px) {
    a[href]{
        transition: 0.3s;
    }   
    a[href]:hover {
        opacity: 0.7;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 5px 2px  #ddd;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-100%);
    transition: 0.5s;
}
header.active {
    transform: none;
}

header .logo {
    display: block;
    font-size: 26px;
    padding: 15px;
    background-color: #f66;
    color: #fff;
}

header nav ul {
    display: flex;
    margin-right: 10px;
}

header nav ul > li > a {
    padding: 0 20px;
    font-weight: bold;
}

main {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    margin: 50px auto 120px auto;
}

.pageTitle {
    background-color: #09015F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    position: relative;
}

.pageTitle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 40px 40px;
    border-style: solid;
    border-color: #fff  #fff #040032;
    box-shadow: 1px 1px 1px  rgba(0,0,0,0.15);
}

.pageTitle h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

main > section {
    margin-top: 50px;
    font-size: 18px;
}

main > section h2 {
    background-color: #eee;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 20px;
    line-height: 1.4;
    position: relative;
}

main > section h2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 20px  #aeaeae;
}

main > section p {
    line-height: 2;
}

main > section p:not(:first-of-type) {
    margin-top: 1em;
}

main > section > section {
    margin-top: 30px;
}

main > section > section h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.4;
}

main > section > section h3::before {
    content: "";
    width: 20px;
    height: 18px;
    margin-right: 10px;
    background-color: #333;
}

main .button {
    display: block;
    width: 200px;
    margin: 50px auto;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


/* テキストアニメーション */
@keyframes showTextFromBottom {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes showTextFromTop {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
    }
}

.textAnimation span {
    display: inline-block;
}

.textAnimation > span {
    overflow: hidden;
}

.textAnimation > span:nth-of-type(odd) > span {
    animation: showTextFromTop ease-out 1.5s backwards;
}

.textAnimation > span:nth-of-type(even) > span {
    animation: showTextFromBottom ease-out 1.5s backwards;
}


/* スクロールアニメーション */
section .animationTarget {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;

}

section .animationTarget.show {
    opacity: 1;
    transform: none;
}


/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    header {
        z-index: 1;
    }

    header nav ul > li > a {
        font-size: 10px;
        padding: 0 2px;
    }

    main {
        margin-top: 50px;
        width: 85%;
        padding: 0;
    }

    .pageTitle {
        padding: 80px 10px;
    }

    .pageTitle h1 {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }

    main > section {
        font-size: 16px;
    }

    main > section h2 {
        font-size: 20px;
        padding: 10px 13px;
    }

    main > section p {
        line-height: 1.6;
    }

    main > section > section h3 {
        font-size: 18px;
        display: block;
        position: relative;
        padding-left: 30px;
    }

    main > section > section h3::before {
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
    }
}